<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">  
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">  
<head>  
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />  
    <title>yensdesign.com - Create a smooth tabbed menu with jQuery</title>  
    <link rel="stylesheet" href="static/css/general.css" type="text/css" media="screen" />  
    <!--[if IE 6]>  
        <link rel="stylesheet" href="css/ie6.css" type="text/css" media="screen," />  
    <![endif]\u2013>  
</head>  
<body>  
    <a id="logo" title="Go to yensdesign.com!" href="http://www.yensdesign.com"><img src="css/images/logo.jpg" alt="yensdesign.com" /></a>  
    <div id="container">  
        <ul class="menu">  
            <li id="news" class="active">News</li>  
            <li id="tutorials">Tutorials</li>  
            <li id="links">Links</li>  
        </ul>  
        <span class="clear"></span>  
        <div class="content news">  
            <h1>Latest News</h1>  
            <ul>  
                <li><img src="css/images/bullet.gif" alt="-" /> Boobles: First theme on Themeforest released!</li>  
                <li><img src="css/images/bullet.gif" alt="-" /> Cokidoo becomes official</li>  
                <li><img src="css/images/bullet.gif" alt="-" /> plusmusica.com private beta invitations</li>  
                <li><img src="css/images/bullet.gif" alt="-" /> yensdesign.com 2.0 launched!</li>  
            <ul>  
        </div>  
        <div class="content tutorials">  
            <h1>Latest Tutorials</h1>  
            <ul>  
                <li><img src="css/images/bullet.gif" alt="-" /> Top 10 free fonts for professional design</li>  
                <li><img src="css/images/bullet.gif" alt="-" /> Create an amazing music player using mouse gestures &amp;amp; hotkeys</li>  
                <li><img src="css/images/bullet.gif" alt="-" /> Boobles: First theme on Themeforest released!</li>  
                <li><img src="css/images/bullet.gif" alt="-" /> Creating AJAX websites based on anchor navigation</li>  
                <li><img src="css/images/bullet.gif" alt="-" /> Fast Tip: Create your personal blog to promote your self</li>  
                <li><img src="css/images/bullet.gif" alt="-" /> How to make a brilliant mysql forum database from scratch</li>  
            <ul>  
        </div>  
        <div class="content links">  
            <h1>You may visit</h1>  
            <ul>  
                <li><img src="css/images/bullet.gif" alt="-" /> <a href="http://www.plusmusica.com">www.plusmusica.com</a> - Online jukebox!</li>  
                <li><img src="css/images/bullet.gif" alt="-" /> <a href="http://www.cokidoo.com">www.cokidoo.com</a> - Awesome startup! :)</li>  
                <li><img src="css/images/bullet.gif" alt="-" /> <a href="http://www.cokidoo.com">www.pixelartgames.com</a> - Do you want pixel art games? ;)</li>  
                <li><img src="css/images/bullet.gif" alt="-" /> <a href="http://www.dmsconsulting.es">www.dmsconsulting.es</a> - Great guys</li>  
            <ul>  
        </div>  
    </div>  
    <script type="text/javascript" src="/static/js/jquery-1.2.6.min.js"></script>  
    <script type="text/javascript" src="/static/js/tabs.js"></script>  
</body>  
</html>  
