<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">  
<head>  
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />  
    <title>pkild -- ldap authenticated pki utility</title>  
    <link rel="stylesheet" href="static/css/general.css" type="text/css" media="screen" />  
    <!--[if IE 6]>  
        <link rel="stylesheet" href="static/css/ie6.css" type="text/css" media="screen," />  
    <![endif]-->  
</head>  
<body>  
    <a id="logo" title="pkild" href="http://wcyd.org"><img src="css/images/logo.jpg" alt="wcyd.org" /></a>  
    <div id="container">  
        <ul class="menu">  
            [% FOREACH menu IN menunames %] 
            <li id="[% menu %]">[% menu %]</li>  
            [% END %]
        </ul>  
        <span class="clear"></span>  
        [% FOREACH menu IN menunames %]
        <div class="content [% menu %]">  
            [% menu %]
        </div>  
        [% END %]
    </div>  
    <script type="text/javascript" src="/static/js/jquery-1.2.6.min.js"></script>  
    <script type="text/javascript" src="/static/js/resize.js"></script>  
    <script type="text/javascript"> 
    <!--
        var menuItems = new Array();
        [% FOREACH menu IN menunames %]menuItems.push("[% menu %]");[% END %]
        $(document).ready(function(){
                                      $(".menu > li").click(
                                                             function(e){
                                                                          for(var idx=0; idx<=menuItems.length; idx++){
                                                                              if(menuItems[idx] == e.target.id){
                                                                                  $( "#" + menuItems[idx] ).addClass("active");
                                                                                  $( "div." + menuItems[idx] ).fadeIn();
                                                                              }else{
                                                                                  $( "#" + menuItems[idx] ).removeClass("active");
                                                                                  $( "div." + menuItems[idx] ).css("display", "none");
                                                                              }
                                                                          }
                                                                          //alert(e.target.id);  
                                                                          return false;
                                                                        }
                                                           );
                                    });
    -->
    </script>  
</body>  
</html>  
