<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">  
<head>  
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />  
    <title>pkild -- ldap authenticated pki utility</title>  
    [% INCLUDE all_css.tt %]
</head>  
<body>  
    <script type="text/javascript">
    <!-- 
         tabItems = new Array();
         [% FOREACH tab IN tabnames %]tabItems.push("[% tab %]");[% END %]
    -->
    </script>
    <a id="logo" title="pkild" href="http://github.com/fapestniegd/pkild"><img src="static/images/logo.jpg" alt="[PKILD LOGO]" /></a>  
    <div id="container">
        <ul class="menu">
            [% FOREACH name IN menunames %]
            <li id="[% name %]">[% name %]</li>
            [% END %]
        </ul>
        <span class="clear"></span>
        [% FOREACH name IN menunames %]
        <div class="content [% name %]" style="display:none" >
            <div id="application">
                <div id='left-pane'>
                    [% INCLUDE treebox.tt %]
                </div>
                <div id='right-pane'>
                    [% INCLUDE actionbox.tt %]
                </div>
            </div>
        </div>
        [% END %]
    </div>
    [% INCLUDE all_js.tt %]
</body>  
</html>  
