<form action="" method="post">
<table>
    <tr>
        <td align="right">Login: </td>
        <td align="left"><input type="text" name="title" size="15"></td>
    </tr>
        <td align="right">Password: </td>
        <td align="left"><input type="password" name="title" size="15"></td>
    <tr>
    </tr>
</table>
</form>
