<style type="text/css">
  div.formcontainer {top: 0; left: 0; width: 100%; height: 100%; position: relativ; display: table; }
  p {display: table-cell; vertical-align: middle}
  img.displayed {display: block; margin: 1em auto}
  p {text-align: center}
</style>

<div class=formcontainer>
  <p>This is vertically &amp; horizontally centered.</p>
</div>

